<!DOCTYPE html>
<html xlmns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout/master :: page">
<head>
<meta charset="UTF-8" />
<title> Bienvenue :: Gestion des clients</title>
</head>
<body>
<div th:fragment="content">
<div class="row" style="padding-bottom:50px;">
<div th:action="@{/liste-clients}" method="post">
<div class=col-sm-2 style="border:1px solid #eee;">
<div class=col-sm-3>
<img src="logi.jpeg" alt="LOGI" style="width:140px;height:700px">
</div>
</div>


<div class="col-sm-8" >
<table class="table" style="border:1px solid #eee;">
<thead style="background-color:#444;color:#EEE;">
<th>#</th>
<th>Nom</th>
<th>Prenom</th>
<th>Telephone</th>
<th>Email</th>
<th>Actions</th>
</thead>
<tbody>
<tr th:each="client : ${clients}">
 <td th:text="${client.id}"></td>
 <td th:text="${client.nom}"></td>
 <td th:text="${client.prenom}"></td>
 <td th:text="${client.telephone}"></td>
 <td th:text="${client.email}"></td>
 <td style="font-size:8px;"><a th:href="@{/traitement-client/} + ${client.id}">Modifier</a> |<a th:href="@{/delete-client/}+${client.id}">Supprimer</a> </td>
</tr>
</tbody>
</table>
</div>

<div class=col-sm-2 style="border:1px solid #eee;">
<div class=col-sm-3>
<img src="logi.jpeg" alt="LOGI" style="width:140px;height:700px">
</div>
</div>
</div>
</div>
</div>
</body>
</html>